<html>
    <head>
        <title>UI Bootstrap modals</title>

        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  />

        <link 
            rel="stylesheet" 
            href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"  />

        <script src="https://code.jquery.com/jquery-3.1.0.js" 
                integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" 
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"    
                integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" 
                crossorigin="anonymous"></script>
          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="../ui-bootstrap-tpls-2.1.4-SNAPSHOT.js"></script>
        <script type="text/javascript">
            angular.module('modal', ['ui.bootstrap'])
            .controller("MainCtl", function ($scope, $uibModal) {
                var templates = {
                    noAriaLabelDescribe: [ 
                        '<h2 class="modal-header">Payment Plans</h2>',
                        '<div class="modal-body">',
                            '<p>Small content</p>',
                        '</div>'
                        ],
                    minimal: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Small content</p>',
                        '</div>'
                        ],
                    size1: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Small</p>',
                            '<p>Second</p>',
                        '</div>'
                        ],
                    midSized: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Small content</p>',
                            '<p>Second paragraph</p>',
                        '</div>'
                        ],
                    normal: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Apply for a Short Term or Monthly Payment Plan that best fits your needs.</p>',
                            '<p>Second paragraph of content</p>',
                            '<button>Impotence</button>', 
                        '</div>'
                        ],
                    normalNoButton: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Apply for a Short Term or Monthly Payment Plan that best fits your needs.</p>',
                            '<p>Second paragraph of content</p>',
                        '</div>'
                        ],
                    normalButtonNotInDescription: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body">',
                            '<div id="aria-modal-body">',
                                '<p>Apply for a Short Term or Monthly Payment Plan that best fits your needs.</p>',
                                '<p>Second paragraph of content</p>',
                            '</div>',
                            '<button>Impotence</button>', 
                        '</div>'
                        ],
                    shorterDescription: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body">',
                            '<p id="aria-modal-body">Apply for a Short Term or Monthly Payment Plan that best fits your needs.</p>',
                            '<button>Impotence</button>', 
                        '</div>'
                        ],
                    addContent: ['<div aria-hidden="true"></div>']
                };

                $scope.openModal = function(templateName, skipAria, skipAriaLive, addContentAfter, role) {
                    var modal = $uibModal.open({
                        template: templates[templateName].join('\n'),
                        ariaLabelledBy: skipAria ? undefined : 'aria-modal-title',
                        ariaDescribedBy: skipAria ? undefined : 'aria-modal-body',
                        skipAriaLive: skipAriaLive,
                        role: role,
                        animation: false,
                        size: 'lg',
                        scope: $scope
                    });

                    if (addContentAfter) {
                        modal.rendered.then(function() {
                            var modalElem = document.querySelector('.modal-content');
                            modalElem.innerHTML = templates.normal.join('\n');
                        });
                    }
               };
            });

            $(function() {
                $('#jquery-modal').dialog({autoOpen: false});
                $('#jquery-modal-trigger').click(function() {
                    $('#jquery-modal').dialog('open');
                });
            });
        </script>  
    </head>
    <body ng-app="modal" ng-controller="MainCtl">
        <h1>Modal Testing</h1>
        <button ng-click="openModal('normal', false, true, false, 'document')">
            Use role=document
        </button>
        <button ng-click="openModal('addContent', true, false, true)">Add content after the modal has opened</button>
        <button ng-click="openModal('shorterDescription', false, true)">
            aria-describedby points to a single paragraph instead of a div with multiple children
        </button>
        <button ng-click="openModal('noAriaLabelDescribe', true)">Modal without aria labelledby and describedby</button>
        <button ng-click="openModal('minimal')">Minimal modal</button>
        <button ng-click="openModal('size1')">Size 1</button>
        <button ng-click="openModal('midSized')">Mid-sized modal</button>
        <button ng-click="openModal('normal')">Normal modal</button>
        <button ng-click="openModal('normal', false, true)">Normal modal without aria-live</button>
        <button ng-click="openModal('normalNoButton', false, true)">Normal modal without aria-live or button</button>
        <button ng-click="openModal('normalButtonNotInDescription', false, true)">
            Normal modal without aria-live and without button in description
        </button>
        <button id="jquery-modal-trigger">jQuery Modal</button>
        <div id="jquery-modal" title="Dialog Name">
            <p>Modal content</p>
        </div>
    </body>
</html>