<html>
    <head>
        <title>UI Bootstrap modals</title>

        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  />
          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="../ui-bootstrap-tpls-2.1.4-SNAPSHOT.js"></script>
        <script type="text/javascript">
            angular.module('modal', ['ui.bootstrap'])
            .controller("MainCtl", function ($scope, $uibModal) {
                var templates = {
                    minimal: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Small content</p>',
                        '</div>'
                        ],
                    normal: [ 
                        '<h2 class="modal-header" id="aria-modal-title">Payment Plans</h2>',
                        '<div class="modal-body" id="aria-modal-body">',
                            '<p>Apply for a Short Term or Monthly Payment Plan that best fits your needs.</p>',
                            '<p>Second paragraph of content</p>',
                            '<button>Impotence</button>', 
                        '</div>'
                        ]
                }

                $scope.openModal = function(templateName) {
                   $uibModal.open({
                    template: templates[templateName].join('\n'),
                    ariaLabelledBy: 'aria-modal-title',
                    ariaDescribedBy: 'aria-modal-body',
                    animation: false,
                    size: 'lg',
                    scope: $scope
                });
               }
            });
        </script>  
    </head>
    <body ng-app="modal" ng-controller="MainCtl">
        <h1>Modal Testing</h1>
        <button ng-click="openModal('minimal')">Minimal modal</button>
        <button ng-click="openModal('normal')">Normal modal</button>
    </body>
</html>